<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidsfuture.bodystatsmen" 
      android:installLocation="auto" android:versionName="1.5" android:versionCode="15">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:icon="@drawable/muscleman48">
    	
        <activity android:name=".BodyStats"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    	<activity android:name=".About"
    			android:theme="@android:style/Theme.Dialog"
    			android:label="@string/about_label"></activity>
		<activity android:name=".SendTo"></activity>
		<activity android:name=".GymList" android:screenOrientation="portrait"></activity>

		<activity android:name=".Motivation" android:screenOrientation="portrait">
		
		</activity>
		<activity android:name=".Hidden" android:theme="@android:style/Theme.Dialog" android:label="@string/hidden_label"></activity>
		<activity android:name=".TellAFriend"></activity>
		<activity android:theme="@android:style/Theme.Dialog" android:name=".NoTextDialog"></activity>



		<activity android:name=".List" android:screenOrientation="portrait"></activity>

		<activity android:name=".Journal" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"></activity>
		<activity android:name=".Backup"></activity>
		<activity android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".JournalList"></activity>
		<activity android:name=".Disclaimer"
					android:theme="@android:style/Theme.Dialog"></activity>
					
		
		<meta-data android:value="a14bcc6bbe96e67" android:name="ADMOB_PUBLISHER_ID"/>

<activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".JournalUpdate" android:screenOrientation="portrait"></activity>
<activity android:name=".EditStats" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog" android:configChanges="keyboard|keyboardHidden|orientation"></activity>



<!-- AdMobActivity definition -->
<activity android:name="com.admob.android.ads.AdMobActivity"
android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
android:configChanges="orientation|keyboard|keyboardHidden" />
<!-- Track Market installs -->          
<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
android:exported="true">
<intent-filter>
   <action android:name="com.android.vending.INSTALL_REFERRER" />
</intent-filter>
</receiver>
</application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13"/>



<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
</manifest> 